<div class="container">
  <div>
    <a href="#/login">Already have an account?</a>
  </div>
  <form>
    <div>
      <label for="email" class="form-control">Email</label>
      <input type="text" class="form-control" placeholder="nerd@dork.com" ng-model="user.email"/>
    </div>
    <div>
      <label for="password" class="form-control">Password</label>
      <input type="password" class="form-control" placeholder="Your dog's name, et al" ng-model="user.password"/>
    </div>
    <div>
      <label for="firstName" class="form-control">First Name</label>
      <input type="text" class="form-control" placeholder="First" ng-model="user.names.firstName"/>
    </div>
    <div>
      <label for="lastName" class="form-control">Last Name</label>
      <input type="text" class="form-control" placeholder="Last" ng-model="user.names.lastName"/>
    </div>  
</div>
